<p>Samuel Reed</p>
<p>Woodinville, Washington</p>
<p>Senior</p>
<p>I'm missing two permanent teeth.</p>
<p>To put all of the aspects we're learning together into a project, and from there, my own projects.</p>